<% include partials/header%>

<div class="jumbotron">
  <div class="container">
    <h2> <span class="label label-default">THIS IS THE INDEX PAGE</span></h2>

    <% movie.forEach(function(movie){ %>
        <div>
          <h3><span class="label label-default"><%=movie.title %></span></h3>
          <img src= " <%= movie.image %>" >
          <p><%-movie.summary.substring(0,100) %>... </p>
          <button type="button" style="background-color:black" class="btn btn-danger"><a style="color:red" class=".btn" href="/movies/<%= movie._id %>">Read More</a></button> 
        </div>
    <%}) %>
  </div>
</div>

<% include partials/footer.ejs%>